# History files
.Rhistory
.Rapp.history
.RData
.Ruserdata

# RStudio / VS Code project junk
.Rproj.user/
.vscode/

# OS cruft
.DS_Store
Thumbs.db

# Quarto & Markdown intermediates
*.html
*_files/

# Your specific folders
Notes/
instructor scripts/
processed_data/OLD/

# Ignore the repository-level attributes file
.gitattributes
